
<ion-header>
  <ion-navbar color=orange> 
    <ion-buttons start>
      <button ion-button icon-only>
          <ion-icon name="person-add"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>storybook</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchnav()">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>

<ion-content style="background:#dddfe2 "  >
  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
  <ion-list *ngIf="images">
    <ion-list-header>
      Popular Stories
    </ion-list-header>
    <ion-slides pager [options]="features">
      <ion-slide *ngFor="let j of images">
        <ion-card>
          <ion-img [src]="j.cover" style=" width:100%;max-height:150px;"></ion-img>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-list>

  <ion-list no-lines *ngIf="images" padding-bottom>
    <ion-list-header>
      Popular Story Books<span style="float:right;"><ion-note>more ..</ion-note></span>
    </ion-list-header>
    <div style="padding:1px;">
      <ion-row wrap>
        <ion-col width-33 style="background:whitesmoke; min-height:150px; padding:0px;padding-left:1px; padding-bottom:2px;" *ngFor="let img of images">
          <div style="position: relative; height:100%; padding:0px; width:100%;">
            <div style="position: absolute; top:0%; height:100%;  width:100%; background-color: rgba(0, 0, 0, .5); ">
              <div style="position: absolute; top:0%; height:50%;  width:100%; color:ghostwhite; padding:5px; text-align: center;" (click)="navstry(img)">
                {{img.title}}
              </div>
            </div>
            <img [src]="img.cover" width="100%" style=" height:100%;max-height:150px;">
            <div style="position: absolute; top:60%;  width:100%;">
              <ion-row color="danger">
                <ion-col width-50>
                  <button ion-button color="danger" no-padding clear icon-left item-left>
        <ion-icon  name='eye'></ion-icon>
  <ion-badge  color="#8080" style="background-color: rgba(0,0,0, .0);" >22k</ion-badge>
      </button>
                </ion-col>

                <ion-col width-50>
                  <button ion-button color="danger" (click)="liked(img)" no-padding clear icon-left item-right>
        <ion-icon [name]="img.like ? 'heart' : 'heart-outline'" ></ion-icon>
        <ion-badge  color="#8080" style=" background-color: rgba(0,0,0, .0);" >{{img.n_likes}}</ion-badge>

      </button>


                </ion-col>

              </ion-row>
            </div>

          </div>
        </ion-col>
      </ion-row>

    </div>

  </ion-list>


  <ion-list no-lines *ngIf="images" padding-bottom>
    <ion-list-header>
      Trending Listen Stories<span style="float:right;"><ion-note>more ..</ion-note></span>
    </ion-list-header>
    <div style="padding:1px;">
      <ion-row wrap>
        <ion-col width-50 style="background:whitesmoke;width:100%; min-height:150px; padding:0px;padding-left:1px; padding-bottom:2px;"
          *ngFor="let img of images">
          <div style="position: relative; height:100%; padding:0px; width:100%;">

            <div style="position: absolute;padding:30%;">

              <ion-avatar>
                <img src="img/play.png">
              </ion-avatar>

            </div>


            <div style="position: absolute; top:0%; height:100%;  width:100%; background-color: rgba(0, 0, 0, .5); ">
              <div style="position: absolute; top:0%; height:50%;  width:100%; color:ghostwhite; padding:5px;" (click)="listennav(img)">
                {{img.title}}
              </div>
            </div>
            <img [src]="img.cover" width="100%" style=" height:100%;max-height:150px;">
            <div style="position: absolute; top:60%;  width:100%; background-color: rgba(0, 0, 0, .1); ">
              <ion-row color="danger">
                <ion-col width-50>
                  <button ion-button color="danger" no-padding  clear icon-left item-left>
        <ion-icon  name='eye'></ion-icon>
  <ion-badge  color="#8080" style="background-color: rgba(0,0,0, .0);" >22k</ion-badge>
      </button>
                </ion-col>

                <ion-col width-50>
                  <button ion-button color="danger" (click)="liked(img)" no-padding clear icon-left item-right>
        <ion-icon [name]="img.like ? 'heart' : 'heart-outline'" ></ion-icon>
        <ion-badge  color="#8080" style=" background-color: rgba(0,0,0, .0);" >{{img.n_likes}}</ion-badge>

      </button>


                </ion-col>

              </ion-row>
            </div>

          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-list>
  <ion-list padding-bottom *ngIf="listens">
    <ion-list-header>
      short listens Stories<span style="float:right;"><ion-note>more ..</ion-note></span>
    </ion-list-header>
    <ion-item *ngFor="let lis of listens">
      <ion-avatar item-left>
        <button ion-button clear (click)="listenplay(lis)">
        <img src="img/play-button.png">
        </button>
      </ion-avatar>
      <h2> {{lis.title}}</h2>
      <h5> {{lis.duration}}</h5>

      <span style="float:right; ">
          <div style="bottom:0%; position:absolute;right:0%;">
          <button ion-button small color="danger"no-padding  clear icon-left >
        <ion-icon  name='eye'></ion-icon>
  <ion-badge  color="#8080" style="background-color: rgba(0,0,0, .5);" >{{lis.views}}</ion-badge>
      </button>

          <button ion-button small color="danger" no-padding clear icon-left >
        <ion-icon [name]="lis.like ? 'heart' : 'heart-outline'" ></ion-icon>
        <ion-badge  color="#8080" style=" background-color: rgba(0,0,0, .5);" >{{lis.n_likes}}</ion-badge>

      </button>
          </div>
        </span>
    </ion-item>

  </ion-list>

</ion-content>
<!--this is ok but for it to be visible the binding should be checked /consided since it only check when the page is called-->
<ion-footer class="player" style=" position: absolute; width:100%;" (swipe)="swipe($event)" *ngIf="played">
  <ion-item>
    <ion-avatar item-left>
      <button small ion-button clear no-padding (click)="listenplay(lis)">
        <img src="img/play-button.png">
        </button>
    </ion-avatar>
    <h2> my life}</h2>
    <h5> 00:30:34</h5>

  </ion-item>
</ion-footer>
