<ion-header>
	<ion-navbar primary>
    	<ion-buttons start>
			<button ion-button icon-only>
          <ion-icon name="person-add"></ion-icon>
        </button>
		</ion-buttons>
    <ion-title>storybook</ion-title>
    	<ion-buttons end>
			<button ion-button icon-only>
          <ion-icon name="settings"></ion-icon>
        </button>
		</ion-buttons>

	</ion-navbar>


</ion-header>

<ion-content>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	<ion-list>
		<ion-list-header style="text-align: center;">
			Popular Stories
		</ion-list-header>
		<ion-slides pager>
			<ion-slide *ngFor="let j of images">
				<ion-card>
					<ion-img [src]="j.img" style="max-height:150px;"></ion-img>
				</ion-card>
			</ion-slide>
		</ion-slides>

	</ion-list>

	<ion-list no-lines>
		<ion-list-header>

			Popular Stories

		</ion-list-header>
		<div style="padding:1px;">



			<ion-row wrap>
				<ion-col width-50 style="width:100%;  padding:0px;padding-left:1px; padding-bottom:2px;" *ngFor="let img of images">
					<div style="position: relative; height:100%; padding:0px; width:100%;">
						<div style="position: absolute; top:0%; height:100%;  width:100%; background-color: rgba(0, 0, 0, .5); ">
							<div style="position: absolute; top:0%; height:50%;  width:100%; color:ghostwhite; padding:5px;" (click)="navstry()">
								{{img.title}}
							</div>
						</div>
							<img [src]="img.img" width="100%" >
						<div style="position: absolute; top:65%;  width:100%; background-color: rgba(0, 0, 0, .1); ">
							<ion-row color="danger">
								<ion-col width-50>
									<button ion-button  color="danger" clear small icon-left>
        <ion-icon  name='eye'></ion-icon>
        12 k
      </button>
								</ion-col>

								<ion-col width-50>
									<button ion-button color="danger" clear small icon-left>
        <ion-icon name='heart'></ion-icon>
        4 m
      </button>
								</ion-col>

							</ion-row>
						</div>
						<!--<div class="font-size: 1.0em; position: absolute; top: 52%; width: 100%; color: #fff;">ngngng</div>-->
					</div>
				</ion-col>
			</ion-row>

		</div>

	</ion-list>



	<ion-card>
		<ion-img src="img/katuni/simba.jpeg"></ion-img>
		<ion-row>
			<ion-col>
				<button ion-button color="primary" clear small icon-left>
        <ion-icon name='eye'></ion-icon>
        12 Views
      </button>
			</ion-col>

			<ion-col>
				<button ion-button color="primary" clear small icon-left>
        <ion-icon name='comment'></ion-icon>
        12 Views
      </button>
			</ion-col>
			<ion-col>
				<button ion-button color="primary" clear small icon-left>
        <ion-icon name='heart'></ion-icon>
        4 Comments
      </button>
			</ion-col>
			<ion-col center text-center *ngIf="1>3">
				<ion-note>
					11h ago
				</ion-note>
			</ion-col>
		</ion-row>

	</ion-card>

</ion-content>
