page-home {

.player{
  background: chocolate;
  padding:0px;
  margin:0px;
}


}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
// @media (max-width: 650px) {
//     .responsive .col {
//         width: 100%;
//         margin-bottom:15px;
//     }
//     .responsive {
//         -webkit-box-direction: normal;
//         -moz-box-direction: normal;
//         -webkit-box-orient: vertical;
//         -moz-box-orient: vertical;
//         -webkit-flex-direction: column;
//         -ms-flex-direction: column;
//         flex-direction: column;
//     }
// }
