<ion-content style=" background-color: rgba(0, 0, 0, .8);">
  <div (swipe)="swipe($event)">
    <ion-row>
      <ion-col>
        <ion-buttons start>
          <button clear ion-button color=orange (click)="closebt()">
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button clear ion-button icon-left color=orange>
        <span  *ngIf="imgs.author" padding-right style="font:10px;">by {{imgs.author}}</span> <ion-icon name="person"></ion-icon>
      </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </div>
  <ion-item>
    <div color=light>{{imgs.title}}</div>
  </ion-item>
  <img [src]="imgs.img" style="max-height: 65%;width: 100%;"/>

  <ion-item>
    <button ion-button clear item-left>Like {{imgs.n_likes}}</button>
    <button ion-button clear item-right>Comment</button>
  </ion-item>

  <ion-footer style="background:  rgba(0, 0, 0, .7);">
    <ion-slides pager [options]="features">
      <ion-slide style="max-height:150px;padding-right:3px;" *ngFor="let img of imglist">
        <ion-col>
          <ion-img [src]="img.img" height="80px" width="100%"></ion-img>
        </ion-col>

      </ion-slide>

    </ion-slides>
  </ion-footer>
</ion-content>
