<!--<ion-footer class="player" style=" position: absolute; width:100%;" (swipe)="swipe($event)" #minplayer *ngIf="played">
  <ion-item style="background:coral;padding:0px; margin:0px;">
    <ion-avatar item-left>
      <button small ion-button clear (click)="listenplay(lis)">
        <img src="img/play-button.png">
        </button>
    </ion-avatar>
    <h2> my life}</h2>
    <h5> 00:30:34</h5>
    <ion-range [(ngModel)]="brightness">
      <ion-icon range-left small name="rewind"></ion-icon>
      <ion-icon range-left small name="fastforward"></ion-icon>
      <ion-icon range-right name="pause"></ion-icon>
    </ion-range>
  </ion-item>
</ion-footer>-->

<ion-content style=" background-color: rgba(0, 0, 0, .8);" (swipe)="swipe($event)"   >
  <ion-list no-lines>


  </ion-list>

</ion-content>
