<ion-header>
  <ion-toolbar position="buttom">
    <ion-segment [(ngModel)]="choosebook">
      <ion-segment-button value="All">
        All
      </ion-segment-button>
      <ion-segment-button value="series">
        series
      </ion-segment-button>
      <ion-segment-button value="Short">
        Short
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content style="background:#dddfe2 ">

  <div>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </div>

  <div [ngSwitch]="choosebook">
    <ion-list *ngSwitchCase="'All'">
      <ion-list no-lines>
        <ion-list-header>
          Popular Stories
        </ion-list-header>
        <div style="padding:1px;">
<ion-row wrap>
  <ion-col width-50 style="width:100%;  padding:0px;padding-left:1px; padding-bottom:4px;" *ngFor="let img of bkdata">
<div style="position: relative; height:100%; padding:0px; width:100%;">
<span (click)="navstry(img)">
                <ion-item-divider  style="color:lightgray;background-color:whitesmoke; " > {{img.title}}
</ion-item-divider>
<!--this can be modified according to api format -->
<!--<ion-img [src]="img.cover" height="160px" width="100%" ></ion-img>-->
<ion-img [src]="img.cover" height="160px" width="100%"></ion-img>
</span>
<div style="top:65%;  width:100%; background: #dddfe2;  ">
<ion-row color="danger">
  <ion-col width-33>
    <button ion-button color="favorite" clear small icon-left>
        <ion-icon  name='eye'></ion-icon>
        12 k
      </button>
  </ion-col>

  <ion-col width-33>
    <button ion-button color="danger" clear small icon-left>
        <ion-icon name='heart'></ion-icon>
        {{img.n_likes}}
      </button>
  </ion-col>

</ion-row>
</div>
</div>
</ion-col>
</ion-row>

</div>

</ion-list>


</ion-list>

<ion-list *ngSwitchCase="'series'">

</ion-list>

<ion-list *ngSwitchCase="'Short'" no-lines>
  <ion-list-header>
    Popular Stories
  </ion-list-header>
  <div>
    <ion-item padding *ngFor="let bk of  bkdata">
      <div style="position: relative; height:100%; padding:0px; width:100%;">
<span (click)="navstry(bk)">
                <ion-item-divider light style="color:9e715f;background-color:whitesmoke; " > {{bk.title}}
</ion-item-divider>

<ion-img [src]="bk.cover" width="100%" style="max-height:200px;"></ion-img>
</span>
<div style="top:65%;  width:100%; background: #dddfe2;  ">
<ion-row color="danger">
  <ion-col width-33>
    <button ion-button color="danger" clear small icon-left>
        <ion-icon  name='eye'></ion-icon>
        7 k
      </button>
  </ion-col>

  <ion-col width-33>
    <button ion-button color="danger" clear small icon-left>
        <ion-icon name='heart'></ion-icon>
        {{bk.n_likes}}
      </button>
  </ion-col>

</ion-row>
</div>
</div>
</ion-item>


</div>

</ion-list>

<ion-card>
  <ion-card-content>
    <ion-img src="img/katuni/vibonjo.jpeg"></ion-img>
  </ion-card-content>

  <ion-item>
    <button ion-button clear item-left>Like</button>
    <button ion-button clear item-right>Comment</button>
  </ion-item>
</ion-card>

</div>



</ion-content>