<ion-content style=" background-color: rgba(0, 0, 0, .8);"  (swipe)="swipe($event)">
  <div>
 <ion-row>

    <ion-col>
      <ion-buttons start >
        <button ion-button large clear color="orange" (click)="closebt()">
               <ion-icon name="ios-arrow-down"></ion-icon>
             </button>
      </ion-buttons>
       </ion-col>
         <ion-col>
      <ion-buttons end >
        <button ion-button large clear color="orange" (click)="closebt()">
               <ion-icon name="play"></ion-icon>
             </button>
      </ion-buttons>
       </ion-col>
  </ion-row>
  </div>

  

   
</ion-content>
